@model IEnumerable<MvcLab.Data.Models.PhotoModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">
    @{
        foreach (var photo in Model)
        {
            @Html.Partial("_Photo", photo);
        }
    }
</div>
