.masoncontainer{
    column-count:4;
    column-gap:5px;

    -moz-column-count:4;
    -moz-column-gap:5px;

    -webkit-column-count:4;
    -webkit-column-gap:5px;

}
.masonitem {
    display: inline-block;
    margin: 0 0 5px;
    width: 100%;
}