@model  IEnumerable<PhotoExplorer.Web.Models.UserModel>

@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>

@*takes in an album and displays its photos*@
@*<h3>Explore Photos</h3>
@{
    foreach (var user in Model)
    {
        foreach (var album in user.Albums)
        {
            @Html.Partial("_Photos", album) 
        }
    }
}*@

@*takes in an user and displays his/her albums*@
@*<h3>Explore Albums</h3>
@{
    foreach (var user in Model)
    {
        @Html.Partial("_Albums", user) 
    }
}*@

@*takes in a list of users and displays them*@
<h3>Explore other Users</h3>
@{
    @Html.Partial("_Users", Model) 
}