@model  PhotoExplorer.Web.Models.UserDetailsViewModel

@* home index *@

<div class="jumbotron">
    <h1>Explore</h1>
    <p class="lead">enjoy fine albums and photos</p>
</div>

<div class="container">
    <section class="row">
        <h3>Photos</h3>
        <div>
            @Html.Partial("_Photos", Model.Albums)
        </div>
    </section>
    <section class="row">
        <h3>Albums</h3>
        <div>
            @Html.Partial("_Albums", Model)
        </div>
    </section>
</div>
