@model  PhotoExplorer.Web.Models.UserDetailsViewModel

@* home index *@

<div class="jumbotron">
    <h1>Explore</h1>
    <p class="lead">...the world of photography</p>
</div>

<div>
    <h3>Photos</h3>
    <section class="row">
        @Html.Partial("_Photos", Model.Albums)
    </section>
    <h3>Albums</h3>
    <section class="row">
        @Html.Partial("_Albums", Model)
    </section>
</div>
