@model  IEnumerable<PhotoExplorer.Web.Models.UserModel>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Explore</h1>
    <p class="lead">enjoy fine albums and photos</p>
</div>

<div class="container">
    @*DISPLAY ALL USERS ALBUMS PHOTOS*@
    <section class="container">
        <h3 style="background-color:lemonchiffon">Photos</h3>
        @{
            foreach (var user in Model)
            {
                foreach (var album in user.Albums)
                {
                    @Html.Partial("_Photos", album)
                }
            }

        }
    </section>

    @* DISPLAY ALL USERS ALBUMS *@
    <section class="container">
        <h3 style="background-color:lemonchiffon">Albums</h3>
        <div>
            @foreach (var user in Model)
            {
                @Html.Partial("_Albums", user)
            }
        </div>
    </section>
</div>
