@model  PhotoExplorer.Web.Models.ListUsersAlbumsViewModel

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Explore</h1>
    <p class="lead">enjoy fine albums and photos</p>
</div>

<div class="container">
  
    <section class="container">
        <h3>Photos</h3>@*DISPLAY ALL USERS ALBUMS PHOTOS*@
        @{
            foreach (var album in Model.Albums)
            {
                foreach (var photo in album.Photos)
                {
                    @Html.Partial("_Photo", photo)
                }
            }
        }
    </section>

  
    <section class="container">
        <h3>Albums</h3>@* DISPLAY ALL USERS ALBUMS *@
        <div>
            @foreach (var album in Model.Albums)
            {
                @Html.Partial("_Album", album)
            }
        </div>
    </section>
</div>
