@model  IEnumerable<PhotoExplorer.Web.Models.UserModel>

@{
    ViewBag.Title = "Index";
}

<h2>EXPLORE</h2>
<div class="container">
    @*DISPLAY ALL USERS ALBUMS PHOTOS*@
    <section class="container">
        <h3 style="background-color:lemonchiffon">Photos</h3>
        @{
            foreach (var user in Model)
            {
                foreach (var album in user.Albums)
                {
                    @Html.Partial("_Photos", album)
                }
            }

        }
    </section>

    @* DISPLAY ALL USERS ALBUMS *@
    <section class="container">
        <h3 style="background-color:lemonchiffon">Albums</h3>
        <div>
            @foreach (var user in Model)
            {
                @Html.Partial("_Albums", user)
            }
        </div>
    </section>

    @*DISPLAY ALL USERS*@
    <section class="container">
        <h3 style="background-color:lemonchiffon">Other Users</h3>
        @{
            @Html.Partial("_Users", Model)
        }
    </section>
</div>
