@model IEnumerable<ContactBook.Web.Models.ContactViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{ 
    var ajaxOptions = new AjaxOptions()
    {
        Confirm = "are you sure?",
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "result",
    };
}

@using (Ajax.BeginForm(actionName:"Create", controllerName:"Home", ajaxOptions:ajaxOptions))
{
    @:name
    @Html.TextBox("Name")//textbox for the name property of the model

    <br />
    <input type="submit" value="Lägg till användare" />
}
<div id="result">
    @Html.Partial("List", Model);
</div>