@model PhotoExplorer.Web.Models.PhotoDetailsViewModel

@{
    foreach (var comment in Model.Comments)
    {
        <article class="breadcrumb">
            <small>
                @comment.Commenter commented:
            </small>
            <p>
                @comment.Comment
            </p>
            <small>
                @comment.DateCreated
            </small>
        </article>
    }
}
