@* upload photo(s).

    []  But the POST is happeningn within index because
        this is a partial view? so the controller action will
        be the Index action that will be attributet with the POST? *@
@using (Html.BeginForm("Upload", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table class="table">

        @Html.AntiForgeryToken()
        <tr>
            <td>
                <h4>Upload photo</h4>
            </td>
        </tr>
        <tr>
            <td>
                <input type="file" name="photofiles" multiple />
            </td>
        </tr>
        <tr>

            <td>
                <input type="submit" value="Upload" class="btn btn-default" />
            </td>
        </tr>
    </table>
}
