@model IEnumerable<PhotoExplorer.Web.Models.PhotoViewModel>

<div class="container">
    <h2>Explore Photos</h2>
    <div class="container">
        @Html.Partial("_UploadPartial")
    </div>
    <div>
        @{
            foreach (var photo in Model)
            {
                @Html.Partial("_Photo", photo)
            }
        }
    </div>
</div>
