@model PhotoExplorer.Web.Models.AlbumDetailsViewModel

<div class="container">
    <h2>@Model.Name</h2>
    @foreach (var photo in Model.Photos)
    {
        @Html.Partial("_Photo", photo)
    }
    <p>
        @Html.ActionLink(
       linkText: "Upload Photo to " + "'" + Model.Name + "'",
       actionName: "Create",
       controllerName: "Photo",
       routeValues: new { id = Model.Id },
       htmlAttributes: null)
    </p>
</div>