@model IEnumerable<PhotoExplorer.Web.Models.AlbumListedViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Explore Albums</h2>
    @{
        foreach (var album in Model)
        {
            @Html.Partial("_Album2", album);
        }
    }
</div>
