@model MVCPhotoAlbums.Models.AlbumModel

@{
    ViewBag.Title = "Details";
}

<h2>Album.Details | @Model.Name</h2>

<div>
    @{

        //todo: maek this output the images
        string albumDirName = new DirectoryInfo(Model.AlbumPath).Name;

        foreach (var photo in Model.Photos)
        {

            string photoName = Path.GetFileName(photo.PhotoPath);

            <img src="~/Content/Albums/@Model.User.Username/@albumDirName/@photoName" alt="@photo.Name" width="220" />

            @*<img src="@Url.Content($"~/Content/Albums/{@albumDirName}/{@photoName}")" alt="@photo.Name" />*@
        }
    }
</div>