@model PhotoExplorer.Web.Models.UserDetailsViewModel

@{
    foreach (var album in Model.Albums)
    {
        <article class="album">
            <div>
                <a href="@Url.Action(actionName: "Details", controllerName: "Album",routeValues: new { id = album.Id })"> @*takes us to the album details in the main controller*@ 
                <i class="glyphicon glyphicon-book" style="font-size:36px;"></i>
                </a>
                <div>
                    <small style="font-weight:800">@album.Name</small>
                    <br />
                    <small>@album.DateCreated</small>
                    <br />
                    <small>@album.User.Username</small>
                </div>
            </div>
        </article>
    }
}
