@model Lab01.Models.Album

@{
    ViewBag.Title = "Details";
}

@* TODO: smoother solution for disposition of this stylesheet *@
<link href="~/Content/flexplorer.css" type="text/css" rel="stylesheet" />


<h2>AlbumDetails | @Model.Name</h2>
<article class="MasonryContainer">
    @{
        foreach (var photo in Model.Photos)
        {
            <img src="~/Content/images/@Path.GetFileName(photo.Path)" class="MasonryItem" />
        }
    }
</article>

@*send this album to the create photo , so that the photo gets added to this specific album*@ 
@Html.ActionLink("Upload Photo to album", "Create", "Photo") 

<article class="empty_album">
    @{ 
        if (Model.Photos.Count == 0)
        {
            <p>This album contains no photos yet!</p>
        }
    }
</article>

@Html.ActionLink("Back To Albums","Index","Album")