@* this will retrieve an id *@
@model Lab01.Models.Image
@{
    ViewBag.Title = "ShowImage";
}

<article>
    <h2>ShowImage</h2>
    <br />
    <img src="~/Content/images/@Path.GetFileName(Model.ImagePath)" width="920" />
    <br />
    @Html.ActionLink("Back to Gallery", "ShowGallery", "Gallery")
</article>