@model PhotoExplorer.Web.Models.AlbumDetailsViewModel

<link href="~/Content/css/masonry.layout.css" rel="stylesheet" />

<div class="container">
    <h2>Details - @Model.Name</h2>
    @foreach (var photo in Model.Photos)
    {
        <article class="photo">
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="@Url.Action("PhotoDetails","Account",new {id=photo.Id },null)">
                    <img class="img-responsive" src="~/photos/@photo.FileName" alt="">
                </a>
            </div>
        </article>
    }
    <p>
        @Html.ActionLink(
       linkText: "Upload Photo to " + "'" + Model.Name + "'",
       actionName: "PhotoCreate",
       controllerName: "Account",
       routeValues: new { id = Model.Id },
       htmlAttributes: null)
    </p>
</div>