@model PhotoExplorer.Web.Models.AlbumDetailsViewModel

<link href="~/Content/css/masonry.layout.css" rel="stylesheet" />

@*make the styling the in the account albumdetails a little different from the
regular details view of photos. eg. overwriting the column count of the masoncontainer
    to make layout look a little more like a personal photo edit overwiew page.*@
<style>
    .masoncontainer{
    column-count:8;

    -moz-column-count:8;
    
    -webkit-column-count:8;
}
</style>

    <h2>@Model.Name</h2>
    <section class="masoncontainer">
        @foreach (var photo in Model.Photos)
        {
            <article class="photo">
                <a href="@Url.Action("PhotoDetails","Account",new {id=photo.Id },null)">
                    <img class="img-responsive masonitem" src="~/photos/@photo.FileName" alt="">
                </a>
            </article>
        }
    </section>

    <p>
        @Html.ActionLink(
       linkText: "Upload Photo to " + "'" + Model.Name + "'",
       actionName: "PhotoCreate",
       controllerName: "Account",
       routeValues: new { id = Model.Id },
       htmlAttributes: null)
    </p>