
@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@
<div class="jumbotron">
    <h1>Inspired By Code</h1>
    <p class="lead">When you need a break from coding, but cant live without code</p>
</div>


