@using Lab01.Controllers;

@{
    ViewBag.Title = "Index";
}

@* TODO: smoother solution for disposition of this stylesheet *@
<link href="~/Content/flexplorer.css" type="text/css" rel="stylesheet" />


<div class="jumbotron">
    <h1>Codelicious</h1>
    <p class="lead">Photos of code related codestuff in a nutshell</p>
</div>

<div>
    <h2>Welcome</h2>

    @* passing model into partial view becuase need it to retrieve images  *@
    @Html.Partial("_MasonryPartial")
</div>
