
@{
    ViewBag.Title = "Index";
}

<div>
    <h2>Index</h2>
    <p>this is attached to the home controller</p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum placerat, justo eget molestie consequat, enim justo iaculis massa, eu imperdiet dui turpis at est. Pellentesque vel enim dignissim, imperdiet arcu vel, ullamcorper odio. Donec malesuada quam sit amet congue ultricies. Aliquam pulvinar augue nec faucibus mollis. Proin eu sapien felis. Sed nec augue vel sem sollicitudin dapibus imperdiet quis odio. Proin maximus turpis porta rhoncus commodo. In quis mattis dolor, non porta dui. Nulla facilisi. Integer sed risus lobortis, viverra enim sed, commodo enim. Nulla tempor at massa at suscipit. Proin finibus urna et lacinia rhoncus.

        Integer ut dui ultrices, elementum libero sed, molestie lectus. Donec bibendum risus laoreet euismod interdum. Pellentesque efficitur bibendum velit, quis pulvinar purus auctor in. Integer efficitur pharetra quam, vel consequat lacus venenatis vel. Curabitur et varius risus, auctor ullamcorper risus. Vestibulum nec lacus arcu. Integer consectetur ex eu leo maximus porttitor. Ut condimentum nec nunc dapibus finibus. Donec bibendum justo eget turpis ultricies ultricies. Phasellus commodo lectus nec urna facilisis consectetur. Maecenas luctus rutrum sapien nec dapibus. Aliquam a finibus dolor, vel accumsan ex. Sed scelerisque pellentesque justo, a feugiat ante tristique dignissim.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum placerat, justo eget molestie consequat, enim justo iaculis massa, eu imperdiet dui turpis at est. Pellentesque vel enim dignissim, imperdiet arcu vel, ullamcorper odio. Donec malesuada quam sit amet congue ultricies. Aliquam pulvinar augue nec faucibus mollis. Proin eu sapien felis. Sed nec augue vel sem sollicitudin dapibus imperdiet quis odio. Proin maximus turpis porta rhoncus commodo. In quis mattis dolor, non porta dui. Nulla facilisi. Integer sed risus lobortis, viverra enim sed, commodo enim. Nulla tempor at massa at suscipit. Proin finibus urna et lacinia rhoncus.

        Integer ut dui ultrices, elementum libero sed, molestie lectus. Donec bibendum risus laoreet euismod interdum. Pellentesque efficitur bibendum velit, quis pulvinar purus auctor in. Integer efficitur pharetra quam, vel consequat lacus venenatis vel. Curabitur et varius risus, auctor ullamcorper risus. Vestibulum nec lacus arcu. Integer consectetur ex eu leo maximus porttitor. Ut condimentum nec nunc dapibus finibus. Donec bibendum justo eget turpis ultricies ultricies. Phasellus commodo lectus nec urna facilisis consectetur. Maecenas luctus rutrum sapien nec dapibus. Aliquam a finibus dolor, vel accumsan ex. Sed scelerisque pellentesque justo, a feugiat ante tristique dignissim.
    </p>
</div>
