@using Lab01.Controllers;

@{
    ViewBag.Title = "Index";
}

@* only wanna use this stylesheet on the index content page of home controller *@
<link href="~/Content/flexplorer.css" type="text/css" rel="stylesheet" />


<div>
    <h2>Index</h2>
    <p>For the coding enthusiasts!</p>

    <article class="MasonryContainer">

    @{
        foreach (var i in PhotoController.ImagesDB)
        {
            <img src="~/Content/images/@Path.GetFileName(i.Path)" alt="@i.Description" class="MasonryItem" />
        }
    }
    </article>
</div>
