
@{
    ViewBag.Title = "Information";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Information</title>
</head>
<body>
    <div>
    <h2>this is the information page</h2>
        <p>this is information text</p>
    </div>
</body>
</html>
