@model PhotoExplorer.Web.Entities.AlbumEntityModel

<article class="album">
    <div class="col-lg-4 col-md-4 col-xs-4">
        <a href="@Url.Action("Details","Album",new {id=Model.Id },null)">
            <i class="glyphicon glyphicon-book" style="font-size:36px;"></i>
        </a>
        <div style="display:flex;flex-direction:column;">
            <small style="font-weight:800">@Model.Name</small>
            <small>@Model.DateCreated</small>
            <small>Username</small>
        </div>
    </div>
</article>
