@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li>
        @Html.ActionLink("Logout", "Logout", "Authenticate")
    </li>

    <li>
        @Html.ActionLink(
               linkText: "Hello " + User.Identity.GetUserName() + "!",
               actionName: "Dashboard",
               controllerName: "User/Management",
               routeValues: null,
               htmlAttributes: new { title = "Home" })
    </li>
}
else
{
    <li>@Html.ActionLink("Register", "Register", "Authenticate", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Login", "Login", "Authenticate", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
