@model PhotoExplorer.Web.Entities.PhotoEntityModel

<article class="photo">
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="@Url.Action("Details","Photo",new {id=Model.Id },null)">
            <img class="img-responsive" src="~/photos/@Model.FileName" alt="">
        </a>
    </div>
</article>
