@model PhotoExplorer.Web.Models.UserModel

<article class="user">
    <div class="col-lg-2 col-md-2 col-xs-4 text-center">
        <a href="@Url.Action("Details","User",new {id=Model.Id },null)">
            <i class="glyphicon glyphicon-user" style="font-size:36px;"></i>
        </a>
        <div>
            <small>@Model.Username</small>
        </div>
    </div>
</article>