@model PhotoExplorer.Web.Models.UserSimplifiedViewModel

@{
    AjaxOptions ajaxOptions = new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "users_id", //index view of usercontroller
    };
}

<article class="user">
    <div class="col-lg-2 col-md-2 col-xs-4 text-center">
        <a href="@Url.Action("Details","User",new {id=Model.Id },null)">
            <i class="glyphicon glyphicon-user" style="font-size:36px;"></i>
        </a>
        <div>
            <small>@Model.Username</small>
        </div>
        <div>
            <small>
                @Ajax.ActionLink("Delete User", "User", new { id = Model.Id }, ajaxOptions, null)
            </small>
        </div>
    </div>
</article>