@model IEnumerable<MvcLab.Web.Models.AlbumModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div class="container">
    @{ 
        foreach (var album in Model)
        {
            @Html.Partial("_Album", album);
        }
    }
   @*@Html.Partial("ListAlbums", Model);*@
</div>
