@model IEnumerable<MvcLab.Web.Models.AlbumModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div class="container">
    @{ 
        if (Model.Any())
        {
            foreach (var album in Model)
            {
                @Html.Partial("_Album", album);
            }
        }
        else
        {
            <h2>Sorry, no albums exist for this site..</h2>
        }
    }
   @*@Html.Partial("ListAlbums", Model);*@
</div>