
@{
    ViewBag.Title = "Info";
}

<h2>Info</h2>
<p>
    <p>By Code is a photo based site for programmers and coders from all over the world</p>
    <p>Below is a loosely coupled guideline for what type of content you might expect from this site</p>
    <ul>
        <li>photos of everyday life for programmers/coders</li>
        <li>photos of your code setups</li>
        <li>photos of screens containing code</li>
        <li>photos of people smiling with their/others code</li>
        <li>photos of bragy people and finnished code products such as webpages and applications</li>
        <li>photos of quotes related to code</li>
        <li>photos of helpful codesnippets/reminders</li>
        <li>photos of flashy keyboards</li>
        <li>photos of coffe</li>
        <li>photos from coding events and such</li>
        <li>(may contain photos of stackoverflow)</li>
    </ul>
</p>
